<template>
  <div v-on:click="isDone" v-bind:class="{done: todo.done}" class="todo.done flex flex-col w-5/6 m-3 p-3 rounded-2xl cursor-pointer border-2 border-purple-500  hover:shadow-2xl">
    <div class="font-bold">{{todo.title}}</div>
    <div>{{todo.body}}</div>
  </div>
</template>

<script>
import {mapMutations} from 'vuex';

export default {
  name: 'TodoItem',
  props: ['todo'],
  methods: {
      ...mapMutations(["todoIsDone"]),
      isDone() {
        this.todoIsDone(this.todo)
      }
  }
}
</script>

<style>
.done {
  background-color: rgba(255, 0, 0, 0.58);
}
</style>