<template>
  <div class="h-screen w-screen wrapper">
    <TodoHeader />
    <div class="md:flex justify-around mt-9 flex-col ">
      <TodoLists />
      <TodoControl />
    </div>
  </div>
</template>

<script>

import TodoHeader from "@/components/TodoHeader";
import TodoLists from "@/components/TodoLists";
import TodoControl from "@/components/TodoControl";
export default {
  name: 'TodoContainer',
  components: {
    TodoHeader,
    TodoLists,
    TodoControl
  }
}
</script>