<template>
  <div class="flex md:w-2/5 border-2 border-purple-700 w-full">
    <form @submit.prevent="submit" class="flex flex-col w-full mt-3 p-3">
      <input v-model="title" class="border-2 border-purple-400 p-3 mb-3" placeholder="Название заметки" type="text">
      <input v-model="body" class="border-2 border-purple-400 p-3 mb-3" placeholder="Текст заметки" type="text">
      <button class="border-2 rounded-full p-4 border-purple-700 w-3/5 m-auto" type="submit">Добавить заметку</button>
    </form>
  </div>
</template>

<script>
import {mapMutations} from 'vuex';
export default {
  name: 'TodoControl',
  data() {
    return {
      title: '',
      body: '',
    }
  },
  methods: {
    ...mapMutations(["createTodo"]),
    submit() {
      if (this.title && this.body) {
        this.createTodo({
          id: Date.now(),
          title: this.title,
          body: this.body,
          done: false,
        }),
            this.title = '',
            this.body = ''
      }
    },
  }
}
</script>