<template>
  <div class="header shadow-xl w-full h-20 flex justify-center">
    <div class="flex flex-col justify-center">
      <span class="title "> VUE-TodoApp</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TodoHeader',
}
</script>

<style>
.title {
  font-size: 2rem;
}
</style>