<template>
  <div class="flex flex-col items-center md:w-1/2 w-full hover:shadow-inner">
    <TodoItem  v-for="todo in allTodos" v-bind:todo="todo" :key="todo.id" />
  </div>
</template>

<script>
import {mapGetters} from 'vuex';
import TodoItem from "@/components/TodoItem";
export default {
  name: 'TodoLists',
  components: {
    TodoItem
  },
  computed: mapGetters(['allTodos']),
}
</script>