<template>
  <div id="app">
    <Container />
  </div>
</template>

<script>
import Container from "@/components/TodoContainer";

export default {
  name: 'App',
  components: {
    Container
  }
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
